/* --- MASTER STYLESHEET (chart.css) --- */
@import url('./css/_base_charting.css');
@import url('./css/_pills.css');
@import url('./css/_tabs.css');
@import url('./css/_rrg.css');
/*@import url('./oldStructure/_base.css'); */

/* Hier drunter stehen nur noch spezifische Chart-Layouts / Wrapper falls nötig */
.chart-wrapper {
    position: relative;
    width: 100%;
    flex-grow: 1;
}

.sub-chart-wrapper {
    position: relative;
    width: 100%;
    height: 220px;
}